<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyler.cloud.skyler.admin.mapper.SysTenantPackageMapper">

  <resultMap id="sysTenantPackageMap" type="com.skyler.cloud.skyler.admin.api.entity.SysTenantPackageEntity">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="status" column="status"/>
        <id property="remark" column="remark"/>
        <id property="menuIds" column="menu_ids"/>
        <id property="createBy" column="create_by"/>
        <id property="createTime" column="create_time"/>
        <id property="updateBy" column="update_by"/>
        <id property="updateTime" column="update_time"/>
        <id property="delFlag" column="del_flag"/>
  </resultMap>
</mapper>
