<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyler.cloud.skyler.admin.mapper.SysTenantPackageMenuMapper">

  <resultMap id="sysTenantPackageMenuMap" type="com.skyler.cloud.skyler.admin.api.entity.SysTenantPackageMenuEntity">
        <id property="tenantPackageId" column="tenant_package_id"/>
        <id property="menuId" column="menu_id"/>
  </resultMap>
</mapper>
