<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skyler.cloud.skyler.admin.api.entity.SysTenantEntity">

  <resultMap id="sysTenantMap" type="com.skyler.cloud.skyler.admin.api.entity.SysTenantEntity">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="contactUserId" column="contact_user_id"/>
        <id property="contactName" column="contact_name"/>
        <id property="contactMobile" column="contact_mobile"/>
        <id property="status" column="status"/>
        <id property="domain" column="domain"/>
        <id property="packageId" column="package_id"/>
        <id property="expireTime" column="expire_time"/>
        <id property="accountCount" column="account_count"/>
        <id property="createBy" column="create_by"/>
        <id property="createTime" column="create_time"/>
        <id property="updateBy" column="update_by"/>
        <id property="updateTime" column="update_time"/>
        <id property="delFlag" column="del_flag"/>
  </resultMap>
</mapper>
